aiofiles==23.2.1
anyio==3.7.1
asyncpg==0.28.0
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
databases==0.6.2
deep-translator==1.11.4
fastapi==0.104.1
greenlet==3.0.1
h11==0.14.0
httpcore==0.18.0
httpx==0.25.0
idna==3.4
ormar==0.12.2
ormar-postgres-extensions==2.3.0
passlib==1.7.4
pydantic==1.10.8
PyJWT==2.8.0
python-dotenv==1.0.0
python-multipart==0.0.6
python-telegram-bot==20.6
pytz==2023.3.post1
requests==2.31.0
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==1.4.41
starlette==0.27.0
typing_extensions==4.8.0
urllib3==2.0.7
uvicorn==0.23.2
XlsxWriter==3.1.9
